.portfolio-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 80px 40px; 
  padding: 60px 5rem;
  margin: 0 20rem;
}

.project-card {
  display: flex;
  flex-direction: column;
  background: transparent;
  font-family: var(--secondary-font);
  border: none;
  padding: 0;
}

.project-visual-wrapper {
  background: #1a1a1a;
  overflow: hidden;
  margin-bottom: 24px;
  aspect-ratio: 16 / 10;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.5s ease;
}

.project-card:hover .project-visual-wrapper {
  transform: scale(0.98); 
}

.project-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.project-badge {
  font-size: 10px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: var(--typography-colour);
  border: 1px solid var(--primary-transparent);
  padding: 6px 16px;
  border-radius: 100px;
  width: fit-content;
  margin-bottom: 16px;
}


.project-tags-container {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 16px;
  align-items: center;
}

.tool-tag {
  font-size: 10px;
  font-weight: 500;
  text-transform: uppercase;
  color: #888; 
  background: var(--background-colour-light);
  padding: 4px 10px;
  border-radius: 4px;
  letter-spacing: 0.05em;
}

.project-badge {
  margin-bottom: 0; 
}


.project-title {
  font-size: 2.5rem; 
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 12px;

}

.project-description {
  font-size: 1.6rem;
  font-weight: 400;
  font-family: var(--secondary-font);
  color: var(--typography-colour); 
  margin-bottom: 20px;
  max-width: 90%;
  opacity: 0.8;
}

.project-link {
  font-family: var(--secondary-font);;
  display: flex;
  gap: 1rem;
  font-weight: 600;
  font-size: 1.4rem;
  color: var(--typography-colour);
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 8px;
}

.project-link:hover{
    color: var(--accent-colour);

}

.game-project{
  border-radius: 1rem;
  background-color: red;
}
