.theme-btn {
  position: relative;
  overflow: hidden;
  height: 5rem;
  width: 5rem;
  outline: none;
  border: none;
  cursor: pointer;
  color: var(--typography-colour);
  background:none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  transition: all 0.2s ease;
  padding: 1rem;
}

.theme-btn .theme-icon {
  position: absolute;
  width: 2.5rem;
  height: 2.5rem;
  transform-origin: center center;
  margin: 1rem;
  stroke-width: 1.7px;
}


@media screen and (min-width: 768px) {
  .theme-btn {
    background-color: var(--background-colour-light);
    color: var(--typography-colour);
    position: fixed;
    top: 7rem;
    right: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
    width: 4rem;
    box-shadow: var(--hard-shadow);
    border-radius: 50%;
    border: 1px solid var(--light-border);
    padding: 1rem;
    transition: all 0.2s ease;
  }

  .theme-btn:hover {
    transform: translateY(-4px);
    box-shadow:
      0 1rem 3rem #7e5aff0e,
      0 0.2rem 0.8rem #9173ff72;

    background-color: var(--accent-colour);
    border: 1px solid rgba(255, 255, 255, 0.241);
    color: white;
  }

  .theme-btn .theme-icon{
    height: 2.2rem;
    width: 2.2rem;
  }
}
